<ion-header>
  <ion-toolbar color="succes">
    <ion-buttons slot="starts">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <app-pickup-call-card status="hold" updateAt="22/09/2024 12:22" createdAt="21/09/2024" notes="yeeeey"></app-pickup-call-card>

    <app-pickup-call-card status="processing" updateAt="20/08/2024 01:44" createdAt="19/08/2024" notes="pppppppp"></app-pickup-call-card>

    <app-pickup-call-card status="finished" updateAt="27/09/2024 14:31" createdAt="26/09/2024" value="$ 15,00"></app-pickup-call-card>


</ion-content>
